In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lewisporte,49.2499,-55.0482,49.71,51,47,8.84,CA,2022-05-24 17:27:13
1,1,Ilulissat,69.2167,-51.1000,26.62,68,75,12.66,GL,2022-05-24 17:25:52
2,2,Mancora,-4.1078,-81.0475,77.56,61,5,7.65,PE,2022-05-24 17:27:13
3,3,Nelson Bay,-32.7167,152.1500,55.00,99,33,1.01,AU,2022-05-24 17:26:03
4,4,Busselton,-33.6500,115.3333,59.23,77,21,3.67,AU,2022-05-24 17:26:00

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Mancora,-4.1078,-81.0475,77.56,61,5,7.65,PE,2022-05-24 17:27:13
6,6,Faanui,-16.4833,-151.7500,80.94,71,6,17.07,PF,2022-05-24 17:25:56
18,18,Butaritari,3.0707,172.7902,81.37,78,26,12.86,KI,2022-05-24 17:27:17
24,24,Sabang,5.8933,95.3214,84.45,77,85,22.08,ID,2022-05-24 17:27:20
28,28,Rikitea,-23.1203,-134.9692,76.08,73,54,6.02,PF,2022-05-24 17:23:12
35,35,Kokopo,-4.3520,152.2633,77.36,85,95,4.05,PG,2022-05-24 17:27:28
36,36,Tuy Hoa,13.0833,109.3000,79.39,85,100,4.36,VN,2022-05-24 17:27:28
39,39,Atuona,-9.8000,-139.0333,78.06,72,27,17.13,PF,2022-05-24 17:27:29
40,40,Avarua,-21.2078,-159.7750,78.85,83,75,10.36,CK,2022-05-24 17:27:30
41,41,Kavaratti,10.5669,72.6420,83.55,78,74,10.71,IN,2022-05-24 17:27:30

In [14]:
preferred_cities_df.count()

City_ID       153
City          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
Country       153
Date          153
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2      Mancora      PE     77.56  -4.1078  -81.0475
6       Faanui      PF     80.94 -16.4833 -151.7500
18  Butaritari      KI     81.37   3.0707  172.7902
24      Sabang      ID     84.45   5.8933   95.3214
28     Rikitea      PF     76.08 -23.1203 -134.9692
35      Kokopo      PG     77.36  -4.3520  152.2633
36     Tuy Hoa      VN     79.39  13.0833  109.3000
39      Atuona      PF     78.06  -9.8000 -139.0333
40      Avarua      CK     78.85 -21.2078 -159.7750
41   Kavaratti      IN     83.55  10.5669   72.6420

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels
len(hotels["results"])

20

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
print("done")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
done

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Mancora,PE,77.56,-4.1078,-81.0475,Máncora Marina Hotel
6,Faanui,PF,80.94,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
18,Butaritari,KI,81.37,3.0707,172.7902,Isles Sunset Lodge
24,Sabang,ID,84.45,5.8933,95.3214,Hotel Citra
28,Rikitea,PF,76.08,-23.1203,-134.9692,People ThankYou
35,Kokopo,PG,77.36,-4.3520,152.2633,Kokopo Beach Bungalow Resort
36,Tuy Hoa,VN,79.39,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
39,Atuona,PF,78.06,-9.8000,-139.0333,Villa Enata
40,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
41,Kavaratti,IN,83.55,10.5669,72.6420,Hotels in Lakshadweep Islands

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))